
@{
    ViewData["Title"] = "Sidan finns inte";
}

<div class="container-fluid text-center h-100">
    <div class="row h-75 justify-content-center align-items-center">
        <div class="col-lg-4 align-items-center">
                <h1>404</h1>
                <p>Sidan du söker finns inte</p>
            <hr />
                <div class="btn-group-vertical w-50">
                    <button onclick="window.history.back()" class=" btn-primary btn">Tillbaka</button>
                </div>
            </div>

        </div>
    </div>
</div>

