@{
    ViewData["Title"] = "Index";
}

<div id="home-index-container" class="container-fluid">
    <div class="search-wrapper row">
        <form asp-controller="Cars" asp-action="Cars" method="GET" class="search-form col-md-6 container">
            <h1 class="text-center">Bolinders Bil AB</h1>
            <div class="input-group">
                <input name="searchquery" type="text" class="form-control col-md-12" placeholder="Sök på..." aria-label="Sök på...">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-secondary">Sök!</button>
                </span>
            </div>

            <span class="slogan container">Din lokala bilåterförsäljare...</span>
        </form>
    </div>

    <div class="available-logo col-md-10 container">
        <div class="row">
            @foreach (var item in ViewBag.CarCount)
            {
                <div class="col-md-2 col-centered">
                    <a href="/bilar?search=@item.CarBrand"><img src="@item.CarImage" class="img-fluid" alt="@item.CarBrand - Logo"></a>
                    <div class="center-badge">
                        <span class="badge badge-pill badge-primary align-bottom">@item.CarCount</span>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="news-feed col-md-10 container">
        <div class="row">

        </div>
    </div>

</div>
@section Scripts {
    <script src="~/js/_home-index.js" asp-append-version="true"></script>

}
