@model List<HomeViewModel>
@{
    ViewData["Title"] = "Start";
}

<div id="home-index-container" class="container-fluid">
    <div class="search-wrapper row">
        <form asp-action="Search" method="GET" class="search-form col-xl-6 col-lg-6 col-md-10 col-sm-12 container">
            <h1 class="text-center">Bolinders Bil AB</h1>
            <div class="input-group">
                <input name="search" type="text" class="search-input form-control col-8 no-gutters" placeholder="Sök på..." aria-label="Sök på...">
                <select name="parameter" class="form-control col-3 no-gutters">
                    <option value="">Alla fordon</option>
                    <option value="nya">Nya</option>
                    <option value="begagnade">Begagnade</option>
                </select>
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-primary">Sök!</button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="news-feed col-10 mx-auto">
            <div class="row">

            </div>
        </div>
    </div>


    <div class="available-logo mt-5 mb-3 col-12">
        <div class="row justify-content-center">
            @foreach (var item in Model)
            {
                <div class="col-lg-2 col-6">
                    <a href="/bilar?search=@item.CarBrand"><img src="images/upload/@item.BrandImage" class="img-fluid" alt="@item.CarBrand - Logo"></a>
                    <div class="center-badge">
                        <span class="badge badge-pill badge-primary align-bottom">@item.CarCount</span>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    <environment include="Development">
        <script src="~/js/_home-index.js"></script>
    </environment>

    <environment include="Production">
        <script src="~/js/_home-index.min.js" asp-append-version="true"></script>
    </environment>
}
