
#cars-cars-container {
    min-height: 100%;
    
    .card {
        border: 1px solid #d8d8d8;
    }


    .card:hover {
        background-color: #f1f1f1;
        cursor: pointer;
    }

    .select2-selection__choice {
        color: $white;
        background-color: $blue !important;
        border-radius: $border-radius;
        border: 1px solid $blue;
    }

    select2 select2-container select2-container--default {
        width: 100%;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        color: #e4d7d7;
    }

    .select2-container--default .select2-selection--multiple {
        border-radius: $border-radius;
        border-color: #c7c7c7;
    }

    .btn-lg {
        border-radius: $border-radius;
    }

    .car-filter {
        background-color: #4e4e4e;
        color:white;
    }

    .badge {
        font-weight: normal;
    }

    .spec-items {
        text-align: center;
    }

    .spec-items > div > label {
        margin-bottom: 0;
        font-size: 0.8em;
    }

    .spec-items > div > p {
        font-size: 0.9em;
    }

    .car-img {
        width: 100%;
        display: block;
    }

    .badge {
        width: 100%;
    }

    .card-title {
        text-align: center;
    }
}
