@import '../lib/bootstrap/scss/bootstrap.scss';
@import '_variables.scss';
@import '_account-login.scss';
@import '_cars-details.scss';
@import '_home-index.scss';
@import '_cars-cars.scss';


body {
    width:100%;
    margin:0;
    padding:0;
    height:100%;
}