
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FtpTester</title>
    <form action="/ftptestpost" method="post">
        <input type="submit" />
    </form>
</head>
<body>
</body>
</html>
