
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FtpTester</title>
    
</head>
<body>
    <form action="/ftptest" method="post">
        <input type="submit" />
    </form>
    @if (ViewBag.Time != null)
    {
        @ViewBag.Time;
    }
</body>
</html>
