
@{
    Layout = null;
}

<form asp-action="Index" method="post" enctype="multipart/form-data">
    <input type="file" name="images" multiple/>
    <input type="Text" name="id"/>
    <input type="submit"/>
</form>
