<!DOCTYPE html>

<html lang="sv">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    <link href="~/dist/css/main.min.css" asp-append-version="true" rel="stylesheet" />
    <link href="~/dist/css/vendor.min.css" asp-append-version="true" rel="stylesheet" />

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Bolinders bil AB</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Start</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Cars" asp-controller="Cars" asp-route-parameter="">Alla bilar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Cars" asp-controller="Cars" asp-route-parameter="nya">Nya bilar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Cars" asp-controller="Cars" asp-route-parameter="begagnade">Begagnade bilar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Kontakt</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()

    <script src="/dist/js/vendor.min.js" asp-append-version="true"></script>

    @RenderSection("Scripts", false)
</body>
</html>
