<!DOCTYPE html>

<html lang="sv">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/dist/css/main.min.css" rel="stylesheet" asp-append-version="true" />

</head>
<body>
    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    @RenderSection("Scripts", false)
</body>
</html>
