<!DOCTYPE html>

<html lang="sv">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <link href="~/dist/css/main.min.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    @RenderSection("Scripts", false)
    <script src="~/js/_home-index.js" asp-append-version="true"></script>
    <script src="~/js/_cars-cars.js"></script>
</body>
</html>
